<div>
  <form class="edit-story" value="{{story.id}}">
      <label for="title">Title</label>
      <input name="title" type="text" id="title" value="{{story.title}}" />
      <label for="subtitle">Subtitle</label>
      <input type="subtitle" id="subtitle" name="subtitle" value="{{story.subtitle}}" />
      <label for="name">Name</label>
      <input type="name" id="name" name="name" value="{{story.name}}" />   
      <label for="image-url">Image URL</label>
      <input type="text" id="image-url" name="image-url" value="{{story.image_url}}" />    
      <button type="submit">Edit Story</button>
  </form>
</div>
<table>
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Text</th>
    <th>url</th>
    <th>Options</th>
  </tr>
  {{#each story.contents as |content|}}
    <tr>
      <td>{{content.id}}</td>
      <td>{{content.type}}</td>
      <td>{{content.text}}</td>
      <td>{{content.url}}</td>
      <td>
        <a href="/edit-content/{{content.id}}">edit</a>
        <a href="/delete-content/{{content.id}}">delete</a>
      </td>
    </tr>
  {{/each}}
</table>
{{!-- </div> --}}
<a href="/add-content/{{story.name}}">Add Content</a>
{{!-- <div *ngIf="!isMe"> --}}
  Psych!
{{!-- </div> --}}
<script src="/javascript/edit-story.js"></script>
</div>