{{#if isMalcolm}}
  <a href="/edit-story/{{story.name}}">Edit</a>
{{/if}}
<div class="story">
  <div class = 'storyHeader'>
    {{!-- <img src="{{story.contents[0].url}}" /> --}}
    <h2>{{story.title}}</h2>
    <h3>{{story.subtitle}}</h3>
    {{#each story.contents as |content|}}
    <div class="storyContent">
      {{#if content.url}}
      <div>
        <img src="{{content.url}}">
        <p class="caption">{{content.text}}</p>
      </div>
      {{else}}
      <div>
        <p class="storyText">{{content.text}}</p>
      </div>
      {{/if}}
    </div>
    {{/each}}
  </div>
  <p class="story-date">{{format_date story.createdAt}}</p>
  <div class = "comments">
    <h3>Comments</h3>
    {{#if loggedIn}}
    <form class = "addComment">
      <textarea placeholder="What do you think?" id="newComment" maxlength="500"></textarea><br>
      <button type="submit">Comment</button>
    </form>
    {{/if}}
    {{> comments story}}
  </div>
  <script src="/javascript/add-comment.js"></script>
</div>